@import "tailwindcss";
@config "../../tailwind.config.cjs";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

.notebook-bg {
  background-color: #fbfdff;
  background-image: repeating-linear-gradient(
      to bottom,
      rgba(210, 222, 235, 0.55),
      rgba(210, 222, 235, 0.55) 1px,
      transparent 1px,
      transparent 32px
    ),
    linear-gradient(
      to right,
      transparent 0,
      transparent 76px,
      rgba(233, 164, 164, 0.5) 76px,
      rgba(233, 164, 164, 0.5) 77px,
      transparent 77px
    );
}

.dark .notebook-bg {
  background-color: #101622;
  background-image: none;
}

.hero-grid-bg {
  background-color: #fbfdff;
  background-image: linear-gradient(
      to bottom,
      rgba(248, 249, 252, 0.55) 0%,
      rgba(251, 253, 255, 0.4) 30%,
      rgba(251, 253, 255, 1) 100%
    ),
    linear-gradient(to right, rgba(15, 23, 42, 0.12) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(15, 23, 42, 0.12) 1px, transparent 1px);
  background-size: 100% 100%, 28px 28px, 28px 28px;
}

.dark .hero-grid-bg {
  background-color: #101622;
  background-image: none;
}

button,
label,
a {
  user-select: none;
}

button {
  caret-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

.editor-content {
  min-height: 400px;
}

.editor-content:empty::before {
  content: attr(data-placeholder);
  color: #94a3b8;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.form-select {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDTnaCYgakfzpKJ81V9HlSO1ct3F86BrvDaI52BtsQe0p76aH5VXjsn4Vk9XW57ddnRy8_HW-BLjs1jPWZKSQwuniJbJYe8qGRYewyLan1nTVt1WdR70dU7ggOAhuEcWlRIS7z5Cs41hjI8ehL53TAerY5KMCjHvQKGANQKUiwchw5Muf5BsVus_Ep39sWisUYA3zKDadu456dtsY2i4w68Prg1HjB_8nZLVFXv0hCnhzlDQil7i61ZPZOM-Wt4NXyoGk7wwtfMP7my);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
